* {
    margin-right: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-align: center; */
}

.header{
    background-color: #0099ff;
    background-image: url(/img/pattern.png);
    background-size: 25%;
}

.header img{
    margin-left: 10px;
    margin-top: 30px;
}
